##############################################################
#
# List of approvers/reviewers
#
##############################################################
#
# Learn about CODEOWNERS file format: 
# https://help.github.com/en/articles/about-code-owners
#

# DevOps

.github/* @vincekruger
testing/* @vincekruger

